<div class="container" style="margin-top:70px">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="panel panel-primary">
        <div class="panel-heading"><h3>Ticket</h3></div>
        <div class="panel-body">
          <label for="from"><h4><b>From:</b></h4></label>
          <br>
          <label for=""><h4>Bangalore</h4></label>
          <br>
          <label for="to"><h4><b>To:</b></h4></label>
          <br>
          <label for=""><h4></h4></label>
          <br>
          <label for="departureDate"><h4><b>Departure Date:</b></h4></label>
          <br>
          <label for=""><h4></h4></label>
          <br>
          <label for="pickupLocation"><h4><b>Pickup Location</b></h4></label>
          <br>
          <label for=""><h4></h4></label>
          <br>
          <label for="pickupTime"><h4><b>Pickup Time</b></h4></label>
          <br>
          <label for=""><h4></h4></label>
          <br>
          <label for="driverName"><h4><b>Driver Name</b></h4></label>
          <br>
          <label for=""><h4></h4></label>
          <br>
          <label for="fare"><h4><b>Fare</b></h4></label>
          <br>
          <label for=""><h4></h4></label>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>   
